.App {
  text-align: center;
  min-height: 100vh;
  /* height: fit-content !important; */
  background-color: whitesmoke;
}

.navbar{
  background-color: rgb(209, 60, 60);
  height: 8vh;
  /* font-family: 'Kaushan Script', cursive; */
}

.navbar__logo{
  font-family: 'Kaushan Script', cursive;
  color: white;
  padding: 5px;
  cursor: pointer;
  font-size: 30px;
}

.navbar__icons{
  float: right;
  margin-top: -6vh !important;
  margin: 0 10px;
}

.login{
  width: 35vw;
  margin: 20px auto;
  border: 1px lightgray solid;
}

.login__box{
  padding: 50px;
}

.login__box button{
  margin: 20px 0;
}

.navbar__dasboard{
  float: left;
  margin-top: -6vh;
  z-index:2;
}

.login__title{
  font-size: 20px;
  font-weight: bolder;
}

.dashmenu{
  float: left;
  width: 250px;
  /* background-color: whitesmoke; */
  border: 1px lightgray solid;
  height: 92vh;
}

.dashmenu__item{
  cursor: pointer;
  margin: 5px auto;
  display: flex;
  width: fit-content;
  align-items: center;
  height: 60px;
  /* padding: 20px; */
}
.dashboard{
  margin: 10px auto;
  /* margin-right: 50px; */
  padding: 20px;
  width: 80vw;
  /* float: right; */
}

.mangeads__report{
  cursor: pointer;
}

.mangeads__report:hover{
  color: blue;
  /* font-size: medium; */
}

.breed_paper{
  display: flex;
  height: 40px;
  width: 50%;
  padding: 5px 20px;
  margin-top: -57px;
  margin-left: 150px;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .navbar{
    height: 10vh;
  }
  .navbar__icons{
  margin-top: -7vh !important;
  /* margin-top: -20vh; */
    /* display: none; */
  }
  .navbar__logo{
    font-size: 26px;
    padding-top: 10px;
  }
  .login{
    width: 80vw;
  }
  .login__box{
    padding: 30px;
  }
  .dashboard{
    overflow: auto;
    width: 90vw;
  }
  .breed_paper{
    margin-left: 100px;
    width: 65%;
  }
}